.ms-wallet {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $ui_color_wallet_bg;
  border-radius: rem(30);
  border: rem(2) solid $ui_color_wallet_bg;
  opacity: 0;
  transition: all 0.2s ease-out 0.2s;

  &__info {
    position: relative;
    display: inline-flex;
    width: 100%;
    max-width: rem(420);
    min-width: rem(280);
    border-radius: rem(28);
    background-color: $ui_color_wallet_info_bg;
    overflow: hidden;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: sepia(1) hue-rotate(
      100deg);
    opacity: 0;
    transition: all 1.8s ease 0.2s;
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: rem(64);
    padding: rem(8) rem(20);
    box-shadow: inset 0 0 rem(24) $ui_color_wallet_shadow;

    & > * {
      margin: rem(4) 0;
    }
  }

  &__protocol {
    color: $ui_color_text_alt;
    font-weight: 700;
  }

  &__id {

  }

  &__action {
    padding: rem(8);
    width: rem(64);
  }

  &__button {
    
    &.MuiButton-root {
      background: $ui_color_wallet_bg;
      border-radius: 50%;
      padding: rem(6);
      min-width: auto;
    }
  }

  &__nuke {
    width: rem(36);
    height: rem(36);
  }

  &__note {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: rem(16);
    background-color: $ui_color_wallet_note_bg;
    box-shadow: 0 0 rem(12) 0 $ui_color_wallet_note_bg;
    border-radius: rem(28);
    color: $ui_color_text;
    text-align: right;
    opacity: 0;
    pointer-events: none;
    transform: translateX(rem(30));
    transition: all 0.25s ease-in-out 0s;

    &--visible {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }
}

.ms-init {

  .ms-wallet {
    opacity: 1;

    &__bg {
      opacity: .2;
    }
  }
}